* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: darkslategray;
    color: antiquewhite;
    text-align: center;
    margin: 0;
    padding: 30px;
}

aside,
section {
    margin: 30px;
}

.search-bar {
    width: 25%;
    margin: 30px
}

.forecast-container {
    width: 75%;
    margin: 30px;
}

.forecast-columns {
    display: flex;
    justify-content: space-between;
}

.weekly-forecast {
    height: 100%;
    width: 19%;
    margin-top: 15px;
}

#todays-weather,
.forecast-columns {
    height: 50%;
}

#todays-weather,
.weekly-forecast {
    border: solid darkslategray 2px;
}

h1 {
    font-size: 2.5rem;
}

.spacer {
    flex-grow: 1;
}

footer {
    background-color: darkslategray;
    color: antiquewhite;
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
    padding: 30px;
}